body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.drawer-header:hover{
  cursor:pointer;
  background-color: #eeeeee;
  transition: 0.5s ease;
}

.buttonMainMenu{
  min-width: 250px;
  min-height: 90px;
  width: 20vw;
  height: 10vh;
  background-color: black;
  font-size: 2rem;
  color: white;
  border: 5px solid black;
  border-radius: 20px;
  font-weight: bold;
}


.buttonMainMenu:hover{
  background-color: rgb(250, 193, 72);
  color: black;
  cursor: pointer;
}

.MainMenuTitle{
  background-color:rgba(250, 194, 72, 0.7);
  border: 5px solid rgba(250, 194, 72, 0.7);
  border-radius: 10px;
}

.MainMenuTitle h1{
  padding: 0;
  /*margin: 5px;*/
}

.imageLevelEditor{
  margin-bottom: 20px; 
  margin-top: 20px;
  transition: 0.5s ease;
  border: 5px solid black;
  padding: 10px;
  border-radius: 10px;
}

.imageLevelEditor:hover{
  opacity: 75%;
  background-color: #666464;
  cursor:pointer;
}

.imageLevelEditor.selected{
  opacity: 75%;
  background-color: #fcb900;
}

.containerMainMenu{
  margin-top:0 !important;
  align-content: flex-end;
  padding-right: 5vw;
  min-width: 100vw;
  min-height: 100vh;
}

.titleMainMenu{
  text-align:center;
  font-size:4rem;
  min-width: 300px;
  width: 20vw;
}

@media (max-width: 1024px) {
  .containerMainMenu{
    align-content: center;
    padding-right: 0;
  }
  .titleMainMenu{
    font-size:3rem;
    
  }
}