body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.drawer-header:hover{
  cursor:pointer;
  background-color: #eeeeee;
  transition: 0.5s ease;
}

.buttonMainMenu{
  min-width: 300px;
  width: 20vw;
  height: 10vh;
  background-color: black;
  font-size: 2rem;
  color: white;
  border: 5px solid black;
  border-radius: 20px;
  font-weight: bold;
}


.buttonMainMenu:hover{
  background-color: rgb(250, 193, 72);
  color: black;
  cursor: pointer;
}


.buttonWrapperMainMenu{
  margin-bottom: 4vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.buttonWrapperMainMenu:last-child{
  margin-bottom: 0;
}

.MainMenuTitle{
  padding-bottom: 5px;
  background-color:rgba(250, 194, 72, 0.7);
  border: 5px solid rgba(250, 194, 72, 0.7);
  border-radius: 10px;
  margin-bottom: 2vh;
}

.MainMenuTitle h1{
  padding: 0;
  margin: 5px;
}

.imageLevelEditor{
  margin-bottom: 20px; 
  margin-top: 20px;
  transition: 0.5s ease;
  border: 5px solid black;
  padding: 10px;
  border-radius: 10px;
}

.imageLevelEditor:hover{
  opacity: 75%;
  background-color: #666464;
  cursor:pointer;
}

.imageLevelEditor.selected{
  opacity: 75%;
  background-color: #fcb900;
}